<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Rubik+Beastly&display=swap">
        <link rel="stylesheet" href="../public/style.css">
        <link rel="stylesheet" href="../public/artists.css">
        <title>Artists</title>
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <header>
                    <div class="logo-container">
                            <img src="../img/dark-logo.svg" alt="dark-logo" class="logo">
                    </div>
                    <nav>
                        <ul class="nav-links">
                            <li><a class="nav-link" href="#">ARTISTS</a></li>
                            <li><a class="nav-link" href="#">RAFFLES</a></li>
                            <li><a class="nav-link" href="#">ABOUT</a></li>
                        </ul>
                    </nav>
                </header>  
                <main>
                    <h1 class="Rubik">ARTISTS</h1>

                    <div class="main-container">
                        <div class="profile-container">
                            <img src="../img/profile1.png" alt="artist-profile-picture">
                            <p class="artist-description">For now : NFTs are like physical collector's items, only digital. So instead of getting an actual oil painting to hang on the wall, the buyer gets a digital file instead. They also get exclusive ownership rights. NFTs can have only one owner at a time.</p>
                        </div>
                        <div class="video-container">
                            <img src="../img/video1.png" alt="artist-video">
                        </div>
                    </div>
                    <hr class="solid">
                    <div class="main-container">
                        <div class="profile-container">
                            <img src="../img/profile2.png" alt="artist-profile-picture">
                            <p class="artist-description">For now : NFTs are like physical collector's items, only digital. So instead of getting an actual oil painting to hang on the wall, the buyer gets a digital file instead. They also get exclusive ownership rights. NFTs can have only one owner at a time.</p>
                        </div>
                        <div class="video-container">
                            <img src="../img/video2.png" alt="artist-video">
                        </div>
                    </div>
                    <hr class="solid">
                    <div class="main-container">
                        <div class="profile-container">
                            <img src="../img/profile3.png" alt="artist-profile-picture">
                            <p class="artist-description">For now : NFTs are like physical collector's items, only digital. So instead of getting an actual oil painting to hang on the wall, the buyer gets a digital file instead. They also get exclusive ownership rights. NFTs can have only one owner at a time.</p>
                        </div>
                        <div class="video-container">
                            <img src="../img/video3.png" alt="artist-video">
                        </div>
                    </div>
                    <hr class="solid">
                    <div class="main-container">
                        <div class="profile-container">
                            <img src="../img/profile4.png" alt="artist-profile-picture">
                            <p class="artist-description">For now : NFTs are like physical collector's items, only digital. So instead of getting an actual oil painting to hang on the wall, the buyer gets a digital file instead. They also get exclusive ownership rights. NFTs can have only one owner at a time.</p>
                        </div>
                        <div class="video-container">
                            <img src="../img/video4.png" alt="artist-video">
                        </div>
                    </div>

                </main>
                <footer>
                    <p class="email footer-item">shinew@nftgalleries.com</p>
                    <p class="description-oneLine footer-item">Shinew.xyz is the new way to DROP your NFT’S</p>
                    <p class="location footer-item">London</p>
            </footer>
            </div>
        </div>
    </body>
</html>