<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Rubik+Beastly&display=swap">
        <link rel="stylesheet" href="../public/style.css">
        <link rel="stylesheet" href="../public/front-style.css">
        <title>Shinew</title>
    </head>

    <body>
        <div id="page-container">
            <div id="content-wrap">
                <header>
                    <div class="logo-container">
                            <img src="../img/dark-logo.svg" alt="dark-logo" class="logo">
                    </div>
                    <nav>
                        <ul class="nav-links">
                            <li><a class="nav-link" href="#">ARTISTS</a></li>
                            <li><a class="nav-link" href="#">RAFFLES</a></li>
                            <li><a class="nav-link" href="#">ABOUT</a></li>
                        </ul>
                    </nav>
                </header>  
                
                <section id="hero">
                    <div class="container">
                        <div class="info">
                            <h1>Shinew.xyz is the new way to DROP your NFT’S.</h1>
                            <h2>Shinew is a platform that connects upcoming artists with the NFT world. We enable them to sell and promote their art work through NFT raffles and access to a large community!</h2>
                            <div class="artist-vs-participant">
                                <div class="artist">
                                    <p>ARTIST?</p>
                                    <a class="btn-artist" href="#">DROP</a>
                                </div>
                                <div class="participant">
                                    <p>NFT LOVER?</p>
                                    <a class="btn-participant" href="#">PARTICIPATE</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
                <h1 class="Rubik">CURRENT RAFFLES</h1>
                <section class="raffle-gallery">
                    <img src="../img/current-raffle-1.png" alt="current-raffle-1">
                    <img src="../img/comming-soon-raffle.png" alt="current-raffle-1">
                    <img src="../img/comming-soon-raffle.png" alt="current-raffle-1">
                    <img src="../img/comming-soon-raffle.png" alt="current-raffle-1">
                    <img src="../img/comming-soon-raffle.png" alt="current-raffle-1">
                    <img src="../img/comming-soon-raffle.png" alt="current-raffle-1">
                    <img src="../img/comming-soon-raffle.png" alt="current-raffle-1">
                    <img src="../img/comming-soon-raffle.png" alt="current-raffle-1">
                </section>
    
                <footer>
                        <p class="email footer-item">shinew@nftgalleries.com</p>
                        <p class="description-oneLine footer-item">Shinew.xyz is the new way to DROP your NFT’S</p>
                        <p class="location footer-item">London</p>
                </footer>
            </div>
        </div>
    </body>
</html>