<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Rubik+Beastly&display=swap">
        <link rel="stylesheet" href="../public/style.css">
        <link rel="stylesheet" href="../public/page-not-found-style.css">
        <title>Page Not Found</title>
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <header>
                    <div class="logo-container">
                            <img src="../img/dark-logo.svg" alt="dark-logo" class="logo">
                    </div>
                    <nav>
                        <ul class="nav-links">
                            <li><a class="nav-link" href="#">ARTISTS</a></li>
                            <li><a class="nav-link" href="#">RAFFLES</a></li>
                            <li><a class="nav-link" href="#">ABOUT</a></li>
                        </ul>
                    </nav>
                </header>  
                <main>
                    <h1>404</h1>
                    <p>Noting is wrong with your internet, we just can’t find what’re lookign for...</p>
                </main>
                <footer>
                    <p class="email footer-item">shinew@nftgalleries.com</p>
                    <p class="description-oneLine footer-item">Shinew.xyz is the new way to DROP your NFT’S</p>
                    <p class="location footer-item">London</p>
                </footer>
            </div>
        </div>
    </body>
</html>