<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/raffle-example-style.css">
    <title>Current Raffle</title>
</head>
<body>
    <header>
        <div class="logo-container">
                <img src="./img/dark-logo.svg" alt="dark-logo" class="logo">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" href="#">ARTISTS</a></li>
                <li><a class="nav-link" href="#">RAFFLES</a></li>
                <li><a class="nav-link" href="#">ABOUT</a></li>
            </ul>
        </nav>
    </header>  
    <main>
        <div class="img-container">
            <div class="img-container-content">
                <p>Matthew Dorabiala 1/1 ‘Space Man’</p>
                <img src="../img/current-raffle-1.png" alt="current-raffle">    
            </div>
        </div>
    
        <div class="description-container">
            <div class="description-container-content">
                <h4>Project Description</h4>
                <p>For now : NFTs are like physical collector's items, only digital. So instead of getting an actual oil painting to hang on the wall, the buyer gets a digital file instead. They also get exclusive ownership rights. NFTs can have only one owner at a time.</p>
                <h3>Valid from: 15/01/2022   Until: 25/01/2022</h3>
            </div>
        </div>
    </main>
    
    <footer>
        <p class="email footer-item">shinew@nftgalleries.com</p>
        <p class="description-oneLine footer-item">Shinew.xyz is the new way to DROP your NFT’S</p>
        <p class="location footer-item">London</p>
    </footer>
    
</body>
</html>